
<!DOCTYPE HTML>
<html>
		<% include includes/header.ejs %>
		<% include includes/sideNavBar.ejs %>	
		<% include includes/headNavBar.ejs %>
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h2 class="title1">User Job History</h2>
								<div class="bs-example widget-shadow" data-example-id="contextual-table"> 
										<h2 style="margin:5px">Job Execution History</h2>
										<p style="margin:5px">Type something in the input field to search the table for first names, last names or emails:</p>  
										<input style="margin:5px" class="form-control" id="myInput" type="text" placeholder="Search..">
										<br>
									<table class="table table-bordered table-striped">
											<thead>
											  <tr>
												<th>Email</th>
												<th>Type</th>
												<th>JobName</th>
												<th>Job Staus</th>
												<th>Date</th>
											  </tr>
											</thead>
											<tbody id="myTable">
													<% if (!data.length) { %>
														<script>
															 alert("No Data Found");         
														</script>
											 <% } %>
												 
													<% for(var i=0; i < data.length; i++) { %>
														<tr>
																<td><%= data[i].email %></td>
																<td><%= data[i].type %></td>
																<td><%= data[i].jobName %></td>
																<td><%= data[i].jobStatus %></td>
																<td><%= data[i].date %></td>
															</tr>
													 <% } %>
											  
											</tbody>
										  </table>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>	
			</div>
		</div>
<% include includes/footer.ejs %>	

